
.mycontainer.active{
  height: 590px;
}
.mycontainer .wrapper{
  width: 1000px;
  display: flex;
}
.fbutton{
  display: flex;
  flex-flow: row;
  border-top: 1px solid #bfbfbf;
  width: inherit;
  height: 6vh;
}

.sub{
  padding: 6px;
  margin: 3px;
}

.sub img{
  width: 21px;
  margin: 0px 5px 0px 0px;
}
.mycontainer .wrapper section{
  width: 500px;
  background: #fff;
}
.mycontainer img{
  cursor: pointer;
}
.mycontainer .mypost{
  transition: margin-left 0.18s ease;
}
.mycontainer.active .mypost{
  margin-left: -500px;
}
.mypost header{
  font-size: 22px;
  font-weight: 600;
  padding: 17px 0;
  text-align: center;
  border-bottom: 1px solid #bfbfbf;
}
.mypost form{
  margin: 20px 25px;
  height: 100%;
}
.mypost form .mycontent,
.audience .list li .column{
  display: flex;
  align-items: center;
}
.mypost form .mycontent img{
  max-width: 51px;
      margin: -19px 0px 0px 0px;
}
.mypost form .mycontent .details{
  margin: -18px 0 0 7px;
}
form .mycontent .details p{
  font-size: 14px;
  font-weight: 800;
  margin: 0px;
}

.btn-collapse {
  width: 100%;
  text-align: left;}
form .mycontent .details p2{
  
  margin: 0px;
  font-size: 12px;
}
.mycontent .details .privacy{
  display: flex;
  height: 25px;
  cursor: pointer;
  padding: 0 10px;
  font-size: 11px;
  margin-top: 3px;
  border-radius: 5px;
  align-items: center;
  max-width: 98px;
  background: #E4E6EB;
  justify-content: space-between;
}

form :where(.myfbview, button){
  width: 100%;
  outline: none;
  border: none;
}
form .myfbview{
  resize: none;
  font-size: 0.9em;
 
  border: none;
  margin: 15px 0px 11px 0px;
  height: fit-content;
  width: 33vw;
  border: none;
  word-wrap: break-word;
}
form .myfbview::placeholder{
  color: #858585;
}
form .myfbview:focus::placeholder{
  color: #b3b3b3;
}
form :where(.theme-emoji, .options){
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.theme-emoji img:last-child{
  max-width: 24px;
}
form .options{
  height: 57px;
  margin: 15px 0;
  padding: 0 15px;
  border-radius: 7px;
  border: 1px solid #B9B9B9;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
form .options :where(.list, li),
.audience :where(.arrow-back, .icon, li .radio){
  display: flex;
  align-items: center;
  justify-content: center;
}
form .options p{
  color: #595959;
  font-size: 15px;
  font-weight: 500;
  cursor: default;
}
form .options .list{
  list-style: none;
}
.options .list li{
  height: 42px;
  width: 42px;
  margin: 0 -1px;
  cursor: pointer;
  border-radius: 50%;
}
.options .list li:hover{
  background: #f0f1f4;
}
.options .list li img{
  width: 23px;
}
/* form button{
  height: 53px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: #BCC0C4;
  cursor: no-drop;
  border-radius: 7px;
  background: #e2e5e9;
  transition: all 0.3s ease;
} */
form .myfbview:valid ~ button{
  color: #fff;
  cursor: pointer;
  background: #4267B2;
}
form .myfbview:valid ~ button:hover{
  background: #4267B2;
}
.mycontainer .audience{
  opacity: 0;
  transition: opacity 0.12s ease;
}
.mycontainer.active .audience{
  opacity: 1;
}
